mixin block_messaging(img, name, question, answer)

   .block-messaging
       .user-img
           img(src=require("./images/"+img))
       .header-messaging
           p=name

       .content-messaging
           form
               .content-icons
                   button(class='messaging-btn')
                       i(class="icon-message")
                   button(class='messaging-btn')
                       i(class="fa fa-camera" aria-hidden="true")
               .content-chatting
                   .question
                       p=question
                   .answer
                       textarea=answer
                   button="REPLY"