mixin block_video(src)

    .block-video
        iframe(src='https://player.vimeo.com/video/'+src
               height='335px'
               width='594px'
               frameborder="0"
               allowfullscreen
               )
mixin block_videplayer(vsrc, name, link, from)

    .video-controls
        .info
            p(id='name')=name
            p(id='from')='from ' + from
            a(href=link)=link
        .controls
            button(class='btn-play' id='unpaused')
                i
            span(class='total')
                span(class='current')
            button(class='btn-fullscreen' id='off')
                i(class="fa fa-arrows-alt" aria-hidden="true")
        .video
            video(src='[location]' + vsrc + '.mp4' poster=require("./images/Spiderman.png"))