include ../block_standart_button/block_standart_button
include ../block_arrow_button/block_arrow_button
include ../block_percentage-pie_chart/block_percentage
include ../block_percentage-pie_chart/block_pie_chart
include ../block_slider/block_slider
include ../block_stage/block_stage
include ../block_form/block_form
include ../block_toggle_tick_box/block_toggle
include ../block_toggle_tick_box/block_tick_box
include ../blocks_sdp-up/block_search/block_search
include ../blocks_sdp-up/block_drop_down/block_drop_down
include ../blocks_sdp-up/block_user-profile/block_user-profile
include ../block_news-events/block_news-events
include ../block_location/block_location
include ../block_calendar/block_calendar
include ../block_messaging/block_messaging
include ../block_video/block_video

.content_block
    .block_basic_buttons
        p(class='title')='STANDARD  BUTTONS'
        .block_basic_buttons-content
            .bb-ld
                +block_basic_button("small", "SMALL", "default")
                +block_basic_button("small", "SMALL", "default")
                +block_basic_button("small", "SMALL", "default")
            .bb-rd
                +block_basic_button("medium", "MEDIUM", "default")
                +block_basic_button("medium", "MEDIUM", "default")
                +block_basic_button("medium", "MEDIUM", "default")
            .bb-lo
                +block_basic_button("medium", "MEDIUM","orange")
                +block_basic_button("medium", "MEDIUM","orange")
                +block_basic_button("medium", "MEDIUM","orange")
            .bb-ro
                +block_basic_button("small", "SMALL", "orange")
                +block_basic_button("small", "SMALL", "orange")
                +block_basic_button("small", "SMALL", "orange")
    .block_arrow_buttons
        p(class='title')='ARROW  BUTTONS'
        .block_arrow_buttons-content
            +block_arrow_button("active","left", "orange")
            +block_arrow_button("active","right", "orange")
            +block_arrow_button("passive", "left")
            +block_arrow_button("passive", "right")
            +block_arrow_button("active","left", "default")
            +block_arrow_button("active","right", "default")
    .block_percentages-pie_charts
        p(class='title')='PERCENTAGES / PIE CHART'
        .content_percentages-pie_charts
            +block_percentage(0)
            +block_percentage(38)
            +block_percentage(62)
            +block_percentage(89)
            +block_pie_chart(50, 30, 10, 10)
    .block_sliders
        p(class='title')='SLIDERS'
        .content_sliders
            +block_slider('orange', 0, 200, 50)
            +block_slider('default', 0, 100, 25)
    .block_stages
        p(class='title')='STAGES'
        .content_stages
            +block_stage(5)
    .block_form_elements
        p(class='title')='FORM  ELEMENTS'
        .content_form_elements
            +block_form()
            .toggles-tick_boxes
                .block_toggles
                    p(class='title')='TOGGLES'
                    .content_toggles
                        +block_toggle('OFF')
                        +block_toggle('ON')
                .block_tick_boxes
                    p(class='title')='TICK BOXES'
                    .content_tick_boxes
                        +block_tick_box('ON')
                        +block_tick_box('OFF')
    .blocks_sdp-up
        .block_search_drop-down
            p(class='title')='SEARCH / DROP DOWN'
            +block_search('Search', 'true')
            +block_search('Search', 'false')
            +block_drop_down(['This is option 1','This is option 2','This is option 3','This is option 4'])
        .block_user_profile
            p(class='title')='USER PROFILE'
            +block_user-profile("person_1.png", 'John Smith', 'UX  DESIGNER')
            +block_user-profile("person_2.png", 'Sarah Brown', 'DEVELOPER')
    .block_news-events
        p(class='title')='NEWS & EVENTS'
        +block_news('bicycle.png', 'It’s all going downhill', '24  AUGUST  2013',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ' +
                    'Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.')
        +block_event('city.png', 'THIS IS THE TITLE', '24', ' Aug', 'Lorem ipsum dolor sit amet, ' +
                     'consectetur adipiscing elit.')
    .block_locations
        p(class='title')='LOCATION'
        +block_location('1259  CALIFORNIA ST San Francisco, CA', 'Meet us!')
    .block_calendars
        p(class='title')='CALENDAR'
        +block_calendar()
    .block_messagings
        p(class='title')='MESSAGING'
        +block_messaging("person_2.png", "Sarah Brown","Hey! So are we cool to meet at the art gallery? Say 8pm",
                         "Yeah that sounds great. See you then.")
    .block_videos
        p(class='title')='VIDEO'
        +block_video('62980495', 'Nature', 'New Zealand Landscapes Timelapse', 'http://vimeo.com/62980495',
                     'Bevan Percival ')
