mixin block_button(size, text, color)
    .button_block
        case color
            when "orange"
                case size
                    when "small"
                        div(class=size + "_block" + "_orange")
                            button(class=size + "_button" + "_orange")= text
                    default
                        div(class="medium" + "_block" + "_orange")
                            button(class="medium" + "_button" + "_orange")= text
            default
                case size
                    when "small"
                        div(class=size + "_block" + "_default")
                            button(class=size + "_button" + "_default")= text
                    default
                        div(class="medium" + "_block" + "_default")
                            button(class="medium" + "_button" + "_default")= text