mixin block_news(img, title, date, info)

    .block_news
        .news-img
            img(src=require("./images/"+img))
        .news
            .content
                p(class='title')=title
                p(class='date')=date
                p(class='info')=info


mixin block_event(img, title, day, month, info)
    .block_event
        .event-img
            img(src=require("./images/"+img))
        .event
            .content
                p(class='date')=day
                    span=month
                p(class='title')=title
                p(class='info')=info
                .block_btn
                    button='ADD  TO  CALENDAR'